/* Estilos para el header */
.header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
  box-sizing: border-box;
  left: auto;
  right: auto;
}

/* Contenedor central */
.header > div:not(.logo-left):not(.logo-right) {
  text-align: center; /* Centra el texto dentro del contenedor central */
  max-width: 600px; /* Limita el ancho del contenedor central */
}

/* Estilos para los logos */
.logo-left,
.logo-right {
  position: absolute; /* Posiciona los logos a los lados */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente los logos */
}

.logo-left {
  left: 20px; /* Ajusta el espacio desde el borde izquierdo */
}

.logo-right {
  right: 20px; /* Ajusta el espacio desde el borde derecho */
}

/* Estilos para los elementos dentro del contenedor central */
.header h1,
.header p {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  line-height: 1.2; /* Ajusta la altura de línea */
}

/* Ajustes específicos para los títulos */
.header h1 {
  font-size: 24px; /* Tamaño de fuente del título */
  margin-bottom: 0; /* Espaciado debajo del título */
}

.header p {
  font-size: 16px; /* Tamaño de fuente del texto */
}

/* Estilos para los logos */
.img {
  max-width: 80px; /* Ajusta el tamaño máximo de los logos */
  max-height: 80px;
}

