<!DOCTYPE html>
<html lang="es-CO">
    <%- include("partials/head") %>
  <body>
    <!-- HEADER -->
    <%- include("partials/header") %>

        <!-- NAV -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->
    <main>

    </main>
    
    <!-- FOOTER -->
    <%- include("partials/footer") %>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
