<!DOCTYPE html>
<html lang="es-CO">

<head>
  <title id="titulo"></title>
  <%- include("./partials/head.ejs") %>
</head>

<body onload="cargarHeader()">

  <!-- HEADER -->
  <header>
    <%- include("./partials/header") %>
  </header>

  <!-- BARRA DE NAVEGACION -->
  <nav>
    <%- include("./partials/nav") %>
  </nav>

  <!-- CONTENIDO -->
  <main>

  </main>

  <!-- PIE DE PAGINA -->
  <footer>
    <%- include("./partials/footer") %>
  </footer>

</body>

</html>