/* Estilos para el fondo oscuro */
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #ccc; /* Texto gris claro */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}
