/* Nav */

/* Estilos para el menú de navegación */
nav {
  background-color: #1a1a1a;
  padding: 10px;
  margin: 0; /* Alinea el menú al borde izquierdo */
  width: fit-content; /* Ajusta el ancho al contenido */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block; /* Para disposición vertical */
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Desplaza los submenús a la derecha del elemento principal */
  background-color: #333;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 10px 15px;
  width: 200px; /* Ancho de los submenús */
}

nav ul li ul li a:hover {
  background-color: #555;
}

nav ul li ul li ul {
  left: 100%;
  top: 0;
}

nav ul li a i {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}