<div>
    <p id=""></p>
    <p id=""></p>
    <p id="">accioncomunalgirardot@gmail.com</p>
    <p id="">(+57) 311 4805352</p>
    <p id="">Periodo Comunal: 2022-2026</p>
</div>
<div>
    <img src="img/colombia.png" id="" alt="Logo Footer Izquierdo" class="img-fluid" style="max-width: 80px;">
    <img src="img/cundinamarca.png" id="" alt="Logo Footer Centro 1" class="img-fluid" style="max-width: 80px;">
    <img src="img/girardot.png" id="" alt="Logo Footer Centro 2" class="img-fluid" style="max-width: 80px;">
    <img src="img/ivcCundinamarca.png" id="" alt="Logo Footer Derecho" class="img-fluid" style="max-width: 80px;">
</div>
<div>
    <p id="">2024 © Todos los derechos reservados, propiedad de:  Acción Comunal Girardot</p>
    <p id="">Creado y diseñado por: Andrés Camilo Vidal</p>
</div>