<footer>
    <div class="inf">
        <p><i class="fas fa-map-marker-alt" id="footer-direccion"></i></p>
        <p><i class="fas fa-home" id="footer-barrio"></i></p>
        <p><i class="fas fa-envelope" id="footer-correo"></i></p>
        <p><i class="fas fa-phone" id="footer-telefono"></i></p>
    </div>
    <div class="logos">
        <img src="" id="footer-escudoPais" alt="Logo Footer Izquierdo" class="img-fluid" style="max-width: 80px;">
        <img src="" id="footer-escudoDepto" alt="Logo Footer Centro 1" class="img-fluid" style="max-width: 80px;">
        <img src="" id="footer-escudoMunicipio" alt="Logo Footer Centro 2" class="img-fluid" style="max-width: 80px;">
        <img src="" id="footer-logoIvc" alt="Logo Footer Derecho" class="img-fluid" style="max-width: 80px;">
        <p><i class="fas fa-calendar-alt" id="footer-periodo"></i></p>
    </div>
    <div class="propiedad">
        <p id="footer-creador"></p>  
        <p><i class="fas fa-laptop-code"></i>Creado y Diseñado Por: Ankamo</p>
    </div>
</footer>