<div>
    <img src="img/accionComunal.png" id="logo1" alt="Logo Header Izquierdo" class="img-fluid">
</div>
<div>
    <h1 id="">Acción Comunal Girardot</h1>
    <h3 id=""></h3>
    <h3 id=""></h3>
    <h3 id=""></h3>
    <h3 id=""></h3>
    <h3 id="">Girardot - Cundinamarca</h3>
</div>
<div>
    <img src="img/accionComunal.png" id="" alt="Logo Header Izquierdo" class="img-fluid" style="max-width: 80px; margin-right: 70px;">
</div>