<!-- Encabezado -->
<header>
    <div class="logo-left">
        <img src="" id="header-logoOac" alt="Logo Izquierdo" class="img-fluid">
    </div>
    <div>
        <h1 id="header-titulo"></h1>
        <p id="header-nit"></p>
        <p id="header-ruc"></p>
        <p id="header-pj"></p>
        <p id="header-expedido"></p>
        <p id="header-ubicacion"></p>
    </div>
    <div class="logo-right">
        <img src="" id="header-logoComunal" alt="Logo Derecho" class="img-fluid">
    </div>
</header>