<nav>
    <ul>
        <li><a href="/views/index.html">Inicio</a></li>
        <li><a href="/views/cartelera-comunal.html">Cartelera Comunal</a></li>
        <li><a href="/views/eventos-y-actividades.html">Eventos y Actividades</a></li>
        <li><a href="/views/reuniones-y-asambleas.html">Reuniones y Asambleas</a></li>
        <li><a href="/views/proyectos-comunales.html">Proyectos</a></li>
        <li><a href="/views/servicios-comunales.html">Servicios Comunales</a></li>
        <li><a href="/views/oac-afiliadas.html">Afiliados</a></li>
        <li>
            <a href="/views/sobre-nosotros.html">Sobre Nosotros</a>
            <ul>
                <li><a href="">Ubicación</a></li>
                <li><a href="">Documentación Legal</a></li>

            </ul>
        </li>
        <li><a href="/views/ingresar.html">Ingresar</a></li>
    </ul>
</nav>