<nav>
    <ul>
        <li>
            <a href="/"><i class="fas fa-home"></i>Inicio</a>

        </li>
        <li>
            <a href="/cartelera"><i class="fas fa-clipboard-list"></i>Cartelera Comunal</a>
            <ul>
                <li><a href="/cartelera/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/eventos"><i class="fas fa-calendar-alt"></i> Eventos y Actividades</a>
            <ul>
                <li><a href="/eventos/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/reuniones"><i class="fas fa-handshake"></i> Reuniones y Asambleas</a>
            <ul>
                <li><a href="/reuniones/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/oac"><i class="fas fa-clipboard-list"></i> Oac Registradas</a>
            <ul>
                <li><a href="/oac/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/afiliados"><i class="fas fa-user-friends"></i> Afiliados Registrados</a>
            <ul>
                <li><a href="/servicios/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/proyectos"><i class="fas fa-project-diagram"></i> Proyectos Ejecutados</a>
            <ul>
                <li><a href="/servicios/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/servicios"><i class="fas fa-concierge-bell"></i> Servicios Comunales</a>
            <ul>
                <li><a href="/servicios/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li>
            <a href="/quienes"><i class="fas fa-info-circle"></i> Quiénes Somos</a>
            <ul>
                <li><a href="/quienes/consultar"><i class="fas fa-search"></i> Consultar</a></li>
            </ul>
        </li>
        <li><a href="/ingresar"><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
    </ul>
</nav>