<nav>
  <ul>
    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a href="/directivos"><i class="fas fa-users"></i> Directivos</a>
      <ul>
        <li><a href="/directivos/presidencia"><i class="fas fa-crown"></i> Presidencia</a></li>
        <li><a href="/directivos/vicepresidencia"><i class="fas fa-handshake"></i> Vicepresidencia</a></li>
        <li><a href="/directivos/tesoreria"><i class="fas fa-coins"></i> Tesorería</a></li>
        <li><a href="/directivos/secretaria"><i class="fas fa-clipboard"></i> Secretaría</a></li>
      </ul>
    </li>
    <li><a href="/dignatarios"><i class="fas fa-user-tie"></i> Dignatarios</a>
      <ul>
        <li><a href="/dignatarios/fiscalia"><i class="fas fa-balance-scale"></i> Fiscalía</a></li>
        <li><a href="/dignatarios/delegacion"><i class="fas fa-envelope"></i> Delegación</a></li>
        <li><a href="/dignatarios/comision-convivencia"><i class="fas fa-dove"></i> Comisión de Convivencia y Conciliación</a></li>
        <li><a href="/dignatarios/comisiones-trabajo"><i class="fas fa-tasks"></i> Comisiones de Trabajo</a></li>
      </ul>
    </li>
    <li><a href="/afiliados"><i class="fas fa-folder-open"></i> Afiliados</a></li>
  </ul>
</nav>

